<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<button type="button" class="btn btn-outline-dark"><a href="/add">Add a message</a></button>

<div th:each="message : ${messages}">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">[[${message.content}]]</p>
        </div>
    </div>
    <h5>From: [[${message.name}]] on [[${message.postdate}]]</h5>
    <td>
        <a th:href="@{/update/{id}(id=${message.id})}">Update</a> -
        <a th:href="@{/detail/{id}(id=${message.id})}">Detail</a> -
        <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
    </td>
</div>

</body>
</html>
